<!doctype html>
<html lang="en">
<head>

<link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet' type='text/css'>

<style>
body {
	font-family: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
        font-size: 18px;
	background-color: green;
	color: #000;
        -webkit-font-smoothing: aliased;
}

a:link,
a:hover,
a:visited,
a:active {
	color: #000;
	border: none;
	text-decoration: none;
	font-weight: 100;
}

a:hover {
	color: #ccc;
}


h1 {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 0px;
}


h2 {

	margin-top: 8px;
	font-size: 20px;
	font-weight: 100;
	line-height: 22px;
	max-width: 400px;
}


ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-top: 15px;
        margin-bottom: 25px;
}

li {
	margin: 0px;
	padding: 0px;
	margin-bottom: 3px;
}



ul a {
	line-height: 19px;
	
}

section#buscard {
	margin: 5rem auto;
	max-width: 500px;
	text-align:center;	
}

button {
  background-color: #000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
}

</style>
  
  <meta charset="utf-8">
  <title>Madrassa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Mario Sanchez Carrion."/>
  
</head>
<body>

  <section id="buscard">
    <h1>SECURE YOUR PLACE IN JANNAH</a></h1>
    <p>Donate in way of Almighty</p>
    <p>Support madrassa!</p>
    <form action="/pay" method="post">
    <button type="submit"><strong>DONATE $1</strong></button>   
    </form>
  </section>
  
</body>
</html>

