<!doctype html>
<html lang="en">
<head>

<link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet' type='text/css'>

<style>
body {
	font-family: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
        font-size: 18px;
	background-color: #fff;
	color: #000;
        -webkit-font-smoothing: aliased;
}

a:link,
a:hover,
a:visited,
a:active {
	color: #000;
	border: none;
	font-weight: 100;
}

a:hover {
	color: #ccc;
}


h1 {
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 0px;
}


h2 {

	margin-top: 8px;
	font-size: 20px;
	font-weight: 100;
	line-height: 22px;
	max-width: 400px;
}


ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-top: 15px;
        margin-bottom: 25px;
}

li {
	margin: 0px;
	padding: 0px;
	margin-bottom: 3px;
}



ul a {
	line-height: 19px;
	
}

section#buscard {
	position: absolute;
	top: 10%;
	left: 5%;
  right: 5%;
	
}

</style>
  
  <meta charset="utf-8">
  <title>Donate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Mario Sanchez Carrion."/>
  
</head>
<body>

  <section id="buscard">
    <h1>Thank You!</a></h1>
    <p>We appreciate your support. Your donation has been received.</p>
    <p><a href="/donate">Home</a></p>
  </section>
  
</body>
</html>

