/* This Awesome CSS file was created by Font Orgranizer from Hive :) */


@font-face {
    font-family: 'Jameel Noori Nastale';
    
    src: url('Jameel-Noori-Nastaleeq-2.ttf') format('truetype');
font-weight: normal;
}
